<h2>Home</h2>
<% if current_user %>
	<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
	<%= link_to 'Sing up', new_user_registration_path %>
	<%= link_to 'Forgot password?', new_user_password_path %>
	<hr />
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>